@inject IRepositoryProvider RepositoryProvider
@rendermode InteractiveServer

@if (isLoading)
{
    <div class="spinner"></div>
}
else
{


    @if (EditedQuestionLevelID == -1)
    {
        <button class="btn btn-success btn-sm ms-2" @onclick="@(() => Add())">
            +
        </button>

        <QuickGrid TGridItem="QuestionLevel" Items="@QuestionLevels.AsQueryable()" Pagination="@pagination">
            <PropertyColumn Property="p => p.ID" title="ID" Sortable="true"></PropertyColumn>
            <PropertyColumn Property="p => p.Name" title="Name" Sortable="true"></PropertyColumn>
            <TemplateColumn>
                <div>
                    <span class="d-flex align-items-center">
                        <button class="btn btn-primary btn-sm ms-2"
                                @onclick="@(() => EditStart(context))"
                                title="Edit">
                            Edit
                        </button>

                        <button class="btn btn-danger btn-sm ms-2"
                                @onclick="@(() => Delete(context))"
                                title="Delete">
                            Delete
                        </button>
                    </span>
                </div>
            </TemplateColumn>

        </QuickGrid>
        <Paginator State="pagination"></Paginator>
    }
    else
    {
        <QuestionLevelForm EditFinished="EditSave"
                      EditCanceled="EditCanceled"
                      ID="@EditedQuestionLevelID">
        </QuestionLevelForm>
    }
}

@code {
    private List<QuestionLevel> QuestionLevels { get; set; } = new List<QuestionLevel>();
    private PaginationState pagination = new PaginationState { ItemsPerPage = 10 };
    private bool isLoading { get; set; } = true;
    private int EditedQuestionLevelID { get; set; } = -1;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            try
            {
                await LoadDataAsync();
            }
            catch (Exception ex)
            {

            }
            finally
            {
                isLoading = false;
                StateHasChanged();
            }
        }
    }

    private async Task LoadDataAsync()
    {
        QuestionLevels = await RepositoryProvider.QuestionLevelRepository.GetAll();
    }

    private void EditStart(QuestionLevel questionLevel)
    {
        EditedQuestionLevelID = questionLevel.ID;
    }

    private async Task EditSave()
    {
        EditedQuestionLevelID = -1;
        await LoadDataAsync();
    }

    private void EditCanceled()
    {
        EditedQuestionLevelID = -1;
    }

    private async Task Delete(QuestionLevel questionLevel)
    {
        await RepositoryProvider.QuestionLevelRepository.Delete(questionLevel.ID);
        await LoadDataAsync();
    }

    private void Add()
    {
        EditedQuestionLevelID = 0;
    }
}


